body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.outer-container {
    min-height: 60vh;
    max-width: 70vw;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: -5px 6px 5px 0px;
    flex-wrap: wrap;
    padding:  20px 10px;
    position: relative;

}



.user-info {

    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 32px;
    padding: 10px;

}



th {
    max-width: 40%;
}

td {
    max-width: 45ch;
    font-style: italic;
}

.avatar-container {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    height: 24rem;
    margin-bottom: -24px;
}

.edit-icon {
    height: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.settings-icon {
    width: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.x-icon {
    position: absolute;
    top: 15px;
    right: 25px;
    border: 2px solid black;
    padding: 0 4px;
    background-color: lightgray;
    cursor: pointer;
    font-weight: bold;
}
